* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--grey);
}

/* Global styling */

:root {
    /* Farver */
    --darkGreen: #33522A;
    --lightGreen: #b5d2ac;
    --grey: #f0f0f0;
    --shadowGrey: #888888;
    --black: #000000;
    --white: #ffffff;

    /* Effekter */
    --shadowCards: 4px 4px 8px var(--shadowGrey);
    --shadowButton: 2px 2px 2px var(--shadowGrey);
    --transitionHover: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    --scaleHover: scale(1.05);

    background-color: var(--grey);

    main a {
        color: var(--black);
        text-decoration: none;
    }
}


/* Layout */
:root {
    --smSpacer: 10px;
    --mdSpacer: 20px;
    --lgSpacer: 40px;
}

/* Font*/
* {
    font-family: 'Arial', sans-serif;
}




/* Global navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mdSpacer) var(--lgSpacer);
    background-color: var(--darkGreen);
    z-index: 1000;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px var(--black);

    * {
        color: var(--white);
    }

    ul,
    div {
        list-style: none;
        display: flex;
        align-items: center;
        gap: var(--mdSpacer);
        margin: 0;
        padding: 0;

        a {
            color: var(--white);
            text-decoration: none;

        }

        a:hover {
            color: var(--lightGreen);
            transition: background-color 0.3s ease, color 0.3s ease;

        }

        a i {
            color: inherit;
            /* https://www.w3schools.com/cssref/css_inherit.php */
            /* Gør sådan at ikonerne også skifter farve samtidig med teksten */
        }


        .logo {
            font-weight: bold;
            font-size: 1.5rem;
        }

        .fa-solid {
            font-size: 0.75rem;
        }

        input {
            padding: var(--smSpacer);
            border: none;
            border-radius: 20px;
            width: 300px;
        }

    }


    /* Dropdown styling */
    .dropdown {
        position: relative;
    }

    /* Skjul drowdown som standard */
    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        background-color: var(--darkGreen);

        /* Linje mellem punkter i drop downs */
        .dropdown-divider {
            height: 1px;
            background-color: var(--white);

        }

        /* Dropdown-elementer */
        li a {
            display: block;
            padding: var(--smSpacer);
            color: var(--white);
        }

        /* Hover-effekt for dropdown-elementer */
        li a:hover {
            background-color: var(--lightGreen);
            color: var(--black);

        }
    }

    /* Aktiv dropdown*/
    /* Når dropdown har class aktiv, så skal dropdown vises */
    .dropdown.active .dropdown-menu {
        display: block;
    }
}

/* Opskrift dropdown */
.opskrifter-menu {
    min-width: 220px;
}

/* Min side dropdown */
.min-side-menu {
    right: 0;
    left: auto;
    min-width: none;
}



/* Søgefelt */
.search-box {
    position: relative;
    display: flex;
    align-items: center;

    /* Indsætter forstørrelsesglasset i højre side af søgefeltet */
    i {
        position: absolute;
        right: 12px;
        color: var(--black);
    }

    /* Input tekstfarve skal være sort */
    input {
        color: var(--black);
    }
}


/* FOOTER */
footer {
    background-color: var(--darkGreen);
    color: var(--white);
    padding: var(--lgSpacer);
    display: flex;
    justify-content: space-between;
    align-items: end;


    .nyhedsbrev {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: var(--smSpacer);

        input {
            padding: var(--smSpacer);
        }

        .nyhedsbrev-btn {
            background-color: var(--lightGreen);
            width: 200px;
            border: none;
            border-radius: 8px;
            font-weight: bold;
            box-shadow: 2px 2px 4px var(--black);
            cursor: pointer;
        }

        .nyhedsbrev-btn:hover {
            transform: var(--scaleHover);
            text-decoration: underline;
        }
    }

    .socialMedia i {
        color: var(--white);
        font-size: 1.5rem;
    }
}